body
{
    color: rebeccapurple;
    text-align:center;
    font-family:"Courier";
    font-size: large;
}
#cabecera
{
    background-color: aqua;
}


#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1xp solid #ddd;
}
#container h1
{
    font-size: 20px;
}